*{
    box-sizing: border-box;
    font-family: 'Helvetica', sans-serif;
    margin:0;
    padding: 0;
    

}

header{
    position: sticky;
    top: 0;
    z-index: 2;
}
.navbar{
    background-color: #2e2e38;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;    
    height: 60px;
    position: relative;
    
}
.navbar div{
 padding: 14px 30px;
 display: flex;
}
.search{
    width: 270px;
    max-width: 300px;
    height: 100%;
    

}
.search form{
    position: absolute;
    height: 100%;

}
.search input{
    width: 130%;
    height: 50%;
    border-radius: 15px;
    outline: none;
    padding: 10px;
}
.search input:focus{
    outline: none;
}
.search button{
   
        position: absolute;
        top:0;
        right: -30px;
        height: 50%;
        cursor: pointer;
        border: none;
        background: none;
    }
    .search button:hover{
        color: rgb(228, 214, 8);
    }

.navbar h1{
    color: rgb(228, 214, 8);
    padding: 20px;
}
.navbar a{
    text-decoration: none;
    color: white;
    font-size: 18px;

    
}

.main-list{
    display: flex;
    list-style: none;
    padding-bottom: 20px;
    align-items: center;
    padding-top: 12px;

}
.main-list li{
    padding: 20px 10px;
    height: 100%;
    margin-top: auto;
    transition: all ease-out 0.2s;
}
.main-list li:hover{
    border-bottom:4px solid rgb(228, 214, 8);
   
}

.active{
    border-bottom:4px solid rgb(228, 214, 8);
   
}

nav .open-menu{
    font-size: 1.5rem;
    color: white;
    display: none;
    cursor:pointer;

}
nav  .close-menu{
    font-size: 1.5rem;
    color: white;
    display: none;
    cursor:pointer;
}

.intro
{
    display: flex;
    padding: 20px 10%;
    justify-content: center;
    align-items: center;
}
.intro div{
    padding: 20px 10%;
    line-height: 1.5rem;
}
.intro div h2{
    padding: 10px 0;
}

.intro div p{
    padding: 10px 0;
}

.explain{
    padding: 20px 10%;
    display: flex;
    align-items: center;
}
.explain div{
    padding: 20px 10%;
}

.explain div h2{
    padding: 10px 0;
}

.explain div p{
    padding: 10px 0;
}
.explain div ul
{
    list-style: none;
}
.explain div ul li{
    padding: 10px 0;
}
.explain div ul li::before
{
    content: '✓';
    padding-right: 10px;
}
footer{
    background-color: #2e2e38;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}
footer h1{
    color: rgb(228, 214, 8);
}
.foot{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.foot div{
    padding: 20px;
}

.foot div h3{
    color: rgb(228, 214, 8);
    display: flex;
    width: 200px;
    justify-content: center;
}

@media (max-width: 500px) {
   /* .navbar a{
    width :100%;
    display: flex;
    justify-content: center;
   }
   
    .search form
    {
        display: none;
    }
   
    .navbar ul li{
        display: none;
    }*/
    .navbar div{
    
        padding: 0;
       }
    .main-list{
        height: 100vh;
        position: fixed;
        top: 0px;
        right: 0px;
        left: 0px;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #2e2e38;
        transition: top 1s ease 0s;
        display: none;
    }
    nav .main-list .close-menu{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
      }
     nav .open-menu {
        display: block;
        margin: 20px;
      }
    .search form {
        display: none;
    }
    .subservice-1{ 
        flex-direction: column;
        align-items: center;
        
    }
    .subservice-1 div{
        width: 100%;
    }
    .subservice-2 div{
        width: 100%;
    }
    .subservice-2{
        flex-direction: column;
        align-items: center;
        
    }
    .foot{
        flex-direction: column;
    }
}